
@{
    ViewData["Title"] = "Users";
    ViewBag.pagename = "HomeIndex";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<style>
    th, td {
        padding: 10px !important;
    }

    .btn-primary a {
        color: white;
    }

    #datatable1_wrapper, #datatable_wrapper {
        margin-top: 15px !important;
    }

    #datatable_filter, #datatable1_filter {
        display: inline-block;
        float: right;
    }

    #datatable_length, #datatable1_length {
        display: inline;
    }

   
    input[type=radio] {
        display: none;
    }

    input:checked + label {
        background-color: orange;
        color: white;
    }

    input label {
        border: 2px solid orange
    }

    .left_select_radio {
        border: 2px solid orange;
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: -3px;
    }

    .right_select_radio {
        border: 2px solid orange;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px 10px;
        margin: 0px;
    }

    .filter-row .btn {
        border-radius: 0;
        padding: 4px 10px;
        text-transform: uppercase;
        border-radius: 4px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        background-color: #ffa500;
        border-radius: 5px 5px 0px 0px;
        font-weight: bold;
    }

    .nav-tabs > li {
        width: 10%;
        text-align: center;
    }
   
</style>

<h2>Users</h2>

<div class="tab">


</div>


<div class="main-wrapper">


    <div class="page-wrapper">
        <div class="content container-fluid">

            @*<div class="row filter-row">
            <div class="col-sm-12">

                <ul class="nav nav-tabs">
                    <li class="nav-link active" id="active_student"><a data-toggle="tab" href="#" onclick="Student1()" id="student">Student</a></li>
                    <li class="nav-link" id="active_tutor"><a data-toggle="tab" href="#" onclick="Tutor1()" id="tutor">Tutor</a></li>

                </ul>
            </div>
        </div>*@
            @*<div>
            <h3 class="left">@ViewBag.status</h3>
            <a class="pull-right" href="@Url.Action("Index","Home")"><button class="btn-banner" >Back</button></a>
        </div>*@
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="left">@ViewBag.status</h3>
                </div>
                <div class="col-sm-6" style="padding-left: 483px;">
                    <a href="/Home"><button class="btn-warning">Back</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        @*<h3 id="sdetails" hidden style="text-align:center;color:orange;padding-top:20px">Student Details</h3>*@
                        <table id="datatable" align="center" class="table text-center table-striped table-bordered" style="background-color:white;">
                            <thead style="color: #337ab7;">
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Firstname</th>
                                    <th class="text-center">Lastname</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center" id="nosorting_View">View</th>
                                    @*<th class="text-center" id="nosorting_Approve">Approve</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
@*<script src="~/js/Common/AdminDashboard.js"></script>*@
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var sts = '@ViewBag.Status';
        //alert(sts);
        $.ajax({
            type: "GET",
            url: '/Student/GetStudents/?status='+sts,
           // url: '/Student/GetStudents/',
           // data: {status:sts},
        //data: JSON.stringify(student),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
            $("#datatable").show();
            $('#datatable').DataTable().destroy();
            $('#datatable tbody tr').remove();
            var student/* = "<tr><th> Id</th><th>Firstname</th> <th>Lastname</th><th>Email</th><th>View</th><th>Approve</th></tr >"*/;
            $.each(data, function () {

                student += "<tr><td>" + this.id + "</td><td>" + this.firstName + "</td>";
                student += "<td>" + this.lastName + "</td>";
                student += "<td>" + this.email + "</td>";
                //student += "<td>" + "<button class='btn btn-primary btn-sm' type='button' ><a href='/Tutor/StudentProfileView/" + this.id +"'>ProfileView</a></button>" + "</td>";
                student += "<td>" + "<button class='btn btn-primary btn-sm clickable-row' type='button' ><a target='_blank' href='/Tutor/StudentProfileView/" + this.id + "'>ProfileView</a></button>" + "</td>";
                //if (this.isApproved == true) {
                //    student += "<td>" + "<button class='fa btn btn-primary' style='display: none'   id='tick_" + this.id + "' onclick='Approved(" + this.id + ")'><i style='font - size: 24px' class='fa'>&#x2714;</i></button>" + "<button class='fa btn btn-primary'  id='cross_" + this.id + "' onclick='NotApproved(" + this.id + ")'><i style='font - size: 24px' class='fa'>&#x2716;</i></button>" + "</td ></tr > ";
                //}
                //else {
                //    student += "<td>" + "<button class='fa btn btn-primary'  id='tick_" + this.id + "' onclick='Approved(" + this.id + ")'><i style='font - size: 24px' class='fa'>&#x2714;</i></button>" + "<button class='fa btn btn-primary' style='display: none'  id='cross_" + this.id + "' onclick='NotApproved(" + this.id + ")'><i style='font - size: 24px' class='fa'>&#x2716;</i></button>" + "</td ></tr > ";
                //}
            });

            $('#datatable tbody').append(student);

            $('#datatable').DataTable();

            $('#datatable1').hide();
        }
    });


    });
</script>


